mixin newsMixin(image, alt, desc, link, time)
    article
        figure.newsPhoto
            img.newsPhoto(src=image, alt=alt)
            figcaption=time
        div.newsItemBody
            p=desc
            p.newsItemDetailLink
                a(href=link) Подробнее...

mixin newsContentMixin()
    - for (var i = 1; i < Object.keys(news['data_news']).length + 1; i++){
        +newsMixin(news['data_news'][i.toString()]['image'], news['data_news'][i.toString()]['alt'], news['data_news'][i.toString()]['description'], news['data_news'][i.toString()]['link'], news['data_news'][i.toString()]['time'])
    - }
